abbr -a -- lsl 'ls -lg'

{{- if eq .chezmoi.hostname "john-server" }}
abbr -a -- snapraid-runner 'python3 /opt/snapraid-runner/snapraid-runner.py -c /opt/snapraid-runner/snapraid-runner.conf'
{{- end}}
