abbr -a -- ll 'ls -lg'

{{- if eq .chezmoi.hostname "john-server" }}
abbr -a -- snapraid-runner 'python3 /opt/snapraid-runner/snapraid-runner.py -c /opt/snapraid-runner/snapraid-runner.conf'
abbr -a -- borgmatic 'docker exec borgmatic borgmatic'
abbr -a -- cscli 'docker exec crowdsec cscli'
{{- end}}
